<form #addressForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">
  <div class="row justify-content-center">
    <div class="col-6">
      <button type="button" class="btn btn-primary mb-2" (click)="addAddress()">
        Add Address
      </button>
      <section
        class="container border mb-4 p-3"
        *ngFor="let address of address; let i = index"
      >
        <div class="d-flex w-100 justify-content-end">
          <button
            type="button"
            class="btn btn-danger btn-sm mb-3"
            (click)="removeAddress(i)"
          >
            <i class="material-icons">delete</i>
          </button>
        </div>
        <div class="row px-3 mb-2">
          <input
            type="text"
            class="form-control w-100"
            [(ngModel)]="address.ask"
            name="address_{{ address.id }}"
            placeholder="Digite a pergunta aqui"
          />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Resposta (A)</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="address.ans_a"
                name="address_{{ address.id }}"
                placeholder=""
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Resposta (B)</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="address.ans_b"
                name="street_{{ address.id }}"
                placeholder=""
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Resposta (C)</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="address.ans_c"
                name="city_{{ address.id }}"
                placeholder=""
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Resposta (D)</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="address.ans_d"
                name="city_{{ address.id }}"
                placeholder=""
              />
            </div>
          </div>
        </div>
      </section>

      <div class="text-right">
        <input
          type="submit"
          class="btn btn-success"
          value="Submit"
          (click)="getData(1)"
        />
      </div>
    </div>
  </div>
</form>
